<div class="full-page" id="loading">
  <div class="spinner">
    Loading portfolio...<br>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<div class="hidden" id="hidden">
  <div class="navbar">
    <div class="container">
      <div class="logo"><%= image_tag("logo.png") %></div>
      <div><a href="#home">HOME</a></div>
      <div><a href="#about-me">ABOUT ME</a></div>
      <div><a href="#summary">SUMMARY</a></div>
      <div><a href="#projects">PROJECTS</a></div>
      <div><a href="#contact-me">CONTACT</a></div>
    </div>
  </div>

  <div class="front-page" id="home">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
          <div class="front-page-content1">
            <span class="title">Hi, <span class="im">I'm</span> <span class="underline">Christelle</span></span><br>
          </div>
          <div class="front-page-content2">
            <span class="summary quotes">A front-end web developer</span><span class="summary quotes">A back-end web developer</span><span class="summary quotes">A graphic designer</span><br><br>
          </div>
          <div class="front-page-content3">
            <a href="#contact-me">
              <div class="yellow-button">
                CONTACT ME
              </div>
            </a>
            <a href="#about-me">
              <div class="white-button">
                READ MORE
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
      </div>
    </div>
  </div>
  <div class="about-me-strip" id="about-me">
    <div class="container reveal">
      <div class="title text-center">
        Welcome to my portfolio!
      </div>
      <div class="sub-title text-center">
        Here's a little something about myself.
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="about-me">
    <div class="container reveal">
      <div class="row">
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <p>Graphic designer since 2007, and community manager since 2014, I had the chance throughout these years of experience to work in various fields (IT, medicine, music, video games or tattoo).<br>

          While I really enjoy working by myself, nothing gives me more pleasure than be part of a team.<br>
          Creative and autonomous, I believe teamwork and getting connected with other people allows me to use my skills to their maximum and to learn more.</p>

          <h2>2007.</h2>
          <p>Freshly graduated from 'EAP Info-Seine in Paris', I joined my first advertising agency which will take me into the wonderful world of graphic design: models, catalogs, visual identity and so on, all this makes me want to learn more!


          <h2>2010.</h2>
          <p>Beginning of my adventure as a freelancer. In addition to DTP and visual identities, I had the opportunity to work for great agencies like 'Publicis Live', 'Lever de Rideau', or 'CCM Benchmark'.<br>
          I discover illustration and site content, which will lead me to my next passion: THE WEB.</p>


          <h2>2014.</h2>
          <p>My passion for the web and communication grew, and I decided to take community manager training at 'Doranco' training center.<br>

          A great adventure in Parisian communication agencies like 'CCM Benchmark' and 'Spöka' will follow!</p>


          <h2>2020.</h2>
          <p>My adventures lead me to Montreal, to 'La Maison du Violon', renowned french luthier in Montreal and Laval.<br>

          In the cards: improvement of the brand image, marketing plan, redesign of the graphic charter, optimization of the content and SEO of the site, communication on social networks, press and digital advertising, newsletters…<br>

          At the same time, I start working as a freelancer, with a real thirst for new, stimulating and varied challenges.</p>


          <h2>2021-2022.</h2>
          <p>Je ne sais pas encore quoi ecrire ici</p>


          <h2>AND BESIDES THAT ?</h2>
          <p>Besides that, I'm passionate about entomology, tattooing, architecture and diving.<br>

          I also love electronic music (I'll be happy to share my Spotify playlist with you).<br>

          I am also a travel enthusiast. Recently returned from a year and a half in Montreal, I intend to travel the globe as many times as possible.<br>

          To learn more about my career, you can consult my <a href="https://www.linkedin.com/in/christelle-bettoni/">LinkedIn profile</a>.<br>

          Please feel free to drop me an <a href="#contact-me">email</a> if you have any questions.</p>
        </div>
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="education-experience-skills" id="summary">
    <div class="container">
      <div class="row is-flex">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
            <div class="line"></div>
            2022
            <br><strong>Le Wagon, Paris</strong>
            <br>Computer Programming
            <br>Degree: Full-Stack Web Developer
            <br>
            <br>2022
            <br><strong>42 school, Paris</strong>
            <br>Learning C and Shell
            <br>
            <br>2014 - 2015
            <br><strong>Doranco training center, Paris</strong>
            <br>Graduate Diploma of Community manager
            <br>
            <br>2005 - 2008
            <br><strong>EAP school, Paris</strong>
            <br>Diploma of Graphic designer
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Experiences</h4>
            <div class="line"></div>
            2020 - 2021
            <br><strong>La Maison du violon (Montreal, Quebec)</strong>
            <br><span class="">Communication and brand manager</span>
            <br>
            <br> 2018 - 2020
            <br><strong>Spöka (Paris)</strong>
            <br><span class="">Community manager and Graphic designer</span>
            <br>
            <br> 2014 - 2018
            <br><strong>CCM Benchmark (Paris)</strong>
            <br><span class="">Community and content manager</span>
            <br>
            <br> 2007 - 2013
            <br><strong>Freelance</strong>
            <br><span class="">Graphic designer</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
            <div class="line"></div>
            <h1>
              <div class="skill-icons">
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-bootstrap-plain-wordmark"></i><br>
                <i class="devicon-ruby-plain-wordmark"></i>
                <i class="devicon-rails-plain-wordmark"></i><br>
                <i class="devicon-javascript-plain-wordmark"></i>
                <i class="devicon-sql-plain-wordmark"></i>
                <i class="devicon-tailwind-plain-wordmark"></i>
                <i class="devicon-heroku-plain-wordmark"></i>
                <i class="devicon-illustrator-plain-wordmark"></i>
                <i class="devicon-photoshop-plain-wordmark"></i>
                <i class="devicon-figma-plain-wordmark"></i>
              </div>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-strip text-center" id="projects">
    <div class="container reveal">
      Projects
      <div class="line"></div>
    </div>
  </div>
  <div class="portfolio text-center">
    <div class="container">
      <div class="row">
        <div class="hiddex-xs col-sm-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-1">
            <div class="portfolio-contents" onclick="window.open('https://github.com/cbettoni/cbettoni-portfolio');" style="cursor:pointer;">
              <span>
                <span class="title">Portfolio Website</span><br>
                <div class="line"></div>
                <span class="summary">My personal portfolio website</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-2">
            <div class="portfolio-contents" onclick="window.open('https://github.com/fjarry1/airbff');" style="cursor:pointer;">
              <span>
                <span class="title">Air BFF</span><br>
                <div class="line"></div>
                <span class="summary">This is a AirBnb like app for renting hours of services provided by people</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-3">
            <div class="portfolio-contents" onclick="window.open('https://github.com/fjarry1/lovebuzz');" style="cursor:pointer;">
              <span>
                <span class="title">Love Buzz</span><br>
                <div class="line"></div>
                <span class="summary">A dating application to Match with people who listen to the same song at the same time</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-4">
            <div class="portfolio-contents" onclick="window.open('https://github.com/cbettoni/rails-watch-list');" style="cursor:pointer;">
              <span>
                <span class="title">Watch list</span><br>
                <div class="line"></div>
                <span class="summary">This is watch list of movies with the basic CRUD features of Ruby on rails</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-6">
            <div class="portfolio-contents" onclick="window.open('https://github.com/cbettoni/rails-task-manager');" style="cursor:pointer;">
              <span>
                <span class="title">Task manager</span><br>
                <div class="line"></div>
                <span class="summary">This is a To Do Manager with the basic CRUD features of Ruby on rails</span>
              </span>
            </div>
          </div>
        </div>
        <div class="hidden-xs col-sm-1 col-md-2 col-lg-2"></div>
      </div>
    </div>
  </div>


  <div class="contact-me" id="contact-me">
    <div class="container reveal">
      <div class="row">
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center">
          <span class="title">Contact me</span><br><br>
          <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% elsif flash[:warning] %>
              <div class="alert alert-danger"><%= flash[:warning] %></div>
            <% else %>
          <% end %>
          <%= form_for :contact do |f| %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control" type="text" id="fname" name="contact[name]" placeholder="Name:">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control" type="text" id="lname" name="contact[email]" placeholder="Email:">
              </div>
            </div>
            <br>
            <span><textarea class="form-control" id="subject" name="contact[message]" placeholder="Message:" style="height:100px"></textarea></span>
            <br>
            <input class="btn" type="submit" value="Submit">
          <% end %>
          <br><br><br>
          <div class="line"></div><br>
          <a href="https://github.com/cbettoni" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;
          <a href="https://www.linkedin.com/in/christelle-bettoni/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>&nbsp;
          <br><br>
          <span class="copyright">&copy; 2022 Christelle Bettoni</span>
        </div>
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;

    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1500)
            .delay(1500)
            .fadeOut(1500, showNextQuote);
    }

    showNextQuote();

  })();
</script>
<script type="text/javascript">
  var frontPage = {
    duration: 1500,
  }
  var frontPageContent1 = {
    duration: 1500,
    delay: 500,
  }
  var im = {
    duration: 1500,
    delay: 1000,
  }
  var underline = {
    duration: 1500,
    delay: 1300,
  }
  var frontPageContent2 = {
    duration: 1500,
    delay: 2000,
  }
  var frontPageContent3 = {
    scale: 0.9,
    duration: 1500,
    delay: 3000,
  }
  var reveal = {
    duration: 800,
    reset: true,
  }
  var box = {
    duration: 800,
    reset: true,
  }
  var grid = {
    duration: 800,
    reset: true,
  }
  sr.reveal('.front-page', frontPage);
  sr.reveal('.front-page-content1', frontPageContent1);
  sr.reveal('.im', im);
  sr.reveal('.underline', underline);
  sr.reveal('.front-page-content2', frontPageContent2);
  sr.reveal('.front-page-content3', frontPageContent3);
  sr.reveal('.reveal', reveal);
  sr.reveal('.box', box, 150);
  sr.reveal('.grid', grid, 150);
</script>
<!-- Page preloader -->
<script type="text/javascript">
  $(window).load(function() {
    $("#loading").addClass("hidden");
    $("#hidden").removeClass("hidden");
    window.scrollBy(0, 1);
  })
</script>
<!-- Smooth scrolling -->
<script type="text/javascript">
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 800);
        return false;
      }
    }
  });
</script>
<!-- Javascript to add class on scroll for navbar -->
<script type="text/javascript">
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();

     //>=, not <=
    if (scroll >= 100) {
        //clearHeader, not clearheader - caps H
        $(".navbar").addClass("nav-bg");
    }
  }); //missing );
</script>
